body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: url('65-652169_wallpaper-northern-lights-aurora-sky-starry-sky-green.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    width: 158px; /* Ajustez selon vos besoins */
    height: auto;
    animation: bounce 2s infinite;
    margin-bottom: 20px; /* Espace entre le logo et le texte */
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.text {
    font-size: 30px;
    color: #FFD700; /* Jaune */
    animation: fadeInColorChange 3s ease-in forwards;
    font-family: 'Dancing Script', cursive; /* Exemple de police manuscrite, à importer */
}

@keyframes fadeInColorChange {
    0% {
        opacity: 0; /* Commence complètement transparent */
        color: #333333; /* Couleur initiale */
    }
    50% {
        opacity: 0.5; /* Mi-chemin dans l'opacité */
    }
    100% {
        opacity: 1; /* Complètement visible */
        color: #FFD700; /* Couleur finale - jaune */
    }
}